html {
	background: #21759b;
	background: linear-gradient( #2c3e50, #3498db ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff;
	height: 100%;
}

body {
	border: 0;
	margin: 0;
	overflow: hidden;
	text-align: center;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 300px;
	margin-top: -200px;
	margin-left: -250px;
}
